{% extends 'gen_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container align-center">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
            <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
              <br>Observation Proposal Tool</h1>
              <p class="mbr-text pb-3 mbr-fonts-style display-5">
                  Enter all details regarding your observation</p>
              <p class="mbr-text pb-3 mbr-fonts-style display-5">
                  We will forward your request to our amateur network and find your ideal observing setup. </p>
        </div>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
    <br><br>
</form>

{% endblock content %}
